{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Update Data</h1>
        <br><hr>
        <form action="" method="post" style="width: 50%; margin: 60px;">
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleText" aria-describedby="emailHelp" placeholder="FIRST NAME" name = 'first_name' value = {{ subscriber.name.split()[0] }}>
            </div>
    
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleText" aria-describedby="emailHelp" placeholder="LAST NAME" name = 'last_name' value = {{ subscriber.name.split()[1] }}>
            </div>
    
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="EMAIL ADDRESS" name = 'email_address' value = {{ subscriber.email }}>
            </div>
    
            <br/>
            <button type="submit" class="btn btn-secondary">UPDATE</button>
        
        </form>
    </div>
{% endblock %}